In [58]:
import numpy as np
import pandas as pd
import sklearn

In [59]:
from sklearn.datasets import load_diabetes
df = load_diabetes()

In [60]:
df.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [61]:
print(df.data)

[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990842
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06832974
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286377
  -0.02593034]
 ...
 [ 0.04170844  0.05068012 -0.01590626 ... -0.01107952 -0.04687948
   0.01549073]
 [-0.04547248 -0.04464164  0.03906215 ...  0.02655962  0.04452837
  -0.02593034]
 [-0.04547248 -0.04464164 -0.0730303  ... -0.03949338 -0.00421986
   0.00306441]]

In [62]:
diabetes = pd.DataFrame(df.data, columns = df.feature_names)
diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [63]:
diabetes['TARGET'] = df.target
diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,TARGET
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [64]:
diabetes.isnull()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,TARGET
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
437,False,False,False,False,False,False,False,False,False,False,False
438,False,False,False,False,False,False,False,False,False,False,False
439,False,False,False,False,False,False,False,False,False,False,False
440,False,False,False,False,False,False,False,False,False,False,False
441,False,False,False,False,False,False,False,False,False,False,False

In [65]:
diabetes.isnull().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
TARGET    0
dtype: int64

In [66]:
from sklearn.model_selection import train_test_split
q = diabetes.drop('TARGET', axis = 1)
r = diabetes['TARGET']

q_train, q_test, r_train, r_test = train_test_split(q, r, test_size = 0.15, random_state = 5)

print(q_train.shape)
print(q_test.shape)
print(r_train.shape)
print(r_test.shape)

(375, 10)
(67, 10)
(375,)
(67,)

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [68]:
lin_model = LinearRegression()

lin_model.fit(q_train, r_train)

LinearRegression()

In [69]:
R_train_predict = lin_model.predict(q_train)
rmse = (np.sqrt(mean_squared_error(r_train, R_train_predict)))

print("The model performance for training set")
print('RMSE is {}'.format(rmse))
print("\n")



#on testing set
R_test_predict = lin_model.predict(q_test)
rmse = (np.sqrt(mean_squared_error(r_test, R_test_predict)))


print("The model performance for testing set")
print('RMSE is {}'.format(rmse))

The model performance for training set
RMSE is 53.785407868059686


The model performance for testing set
RMSE is 52.5654920365413